<%# チャットルーム概要  チャット終了ボタンテンプレート%>
<div class = "chat-header" >    <%# チャットルーム概要、チャット終了ボタン部 %>
  <div class = "left-header" >
    <div class = "chat-title" >
      CreateRoomName
    </div>
  </div>
  <div class = "right-header" >
    <div class = "chat-exit" >
      <a href = "#" >チャットを終了する</a>
    </div>
  </div>
</div>

<%# チャットメッセージ部 %>
<div class = "chat-messages" > 
  <%= render partial: "message", collection: @messages %>
</div>

<%# チャットフォーム部 %>
<%= form_with model: [ @room, @message ], html: { class: 'chat-form' }, local: true do | f | %>
  <div class = "form-input" >
    <%= f.text_field :content, class: 'form-message', placeholder: 'Type a message' %>
    <label class = "form-image" >
      <span class = "image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "form-submit" %>
</div>
<% end %>